body {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #D8EEF3;
}

/* The rest of your CSS */


  html {
    scroll-behavior: smooth;
  }
  
  .content-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: #D8EEF3;
  }
  
  .reverse {
    flex-direction: row-reverse;
  }
  
  .text-content {
    max-width: 600px;
  }
  
 h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 22px;
  color: #555;
  margin-bottom: 40px;
}

  
  .illustration img {
    width: 300px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .content-section {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 40px;
    }
    
    .text-content {
      margin-bottom: 20px;
    }
    
    .reverse {
      flex-direction: column;
    }
  }

  .animated-number-section {
    display: flex;
    justify-content: center;
    padding: 40px;
  }
  
  #animated-number {
    font-size: 60px;
    font-weight: bolder;
    color: #333;
    text-align: center;
  }
  
  /* ---------P2----------- */

  .header {
    background-color: #269185;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    max-height: 60px; /* Adjust this value to fit the desired logo size */
    width: auto; /* This ensures the aspect ratio is maintained */
  }
  
  .logo {
    font-size: 14px;
    display: flex; /* Aligns the logo image vertically */
    align-items: center;
  }
  
  .nav {
    width: 100%;
    display: flex;
    margin-left: auto;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    margin-right: 70px;
    display: flex; /* Ensures vertical alignment */
    align-items: center; /* Centers links vertically */
  }
  
  
  /* Hero Section */
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
    background-color: #D8EEF3;
  }
  
  .hero-content {
    max-width: 600px;
  }
  
  .hero-title {
    font-size: 48px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .hero-description {
    font-size: 20px;
    color: #555;
    margin-bottom: 40px;
  }
  
  .btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #36c8b4;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #197165;
  }
  
  /* .hero-image img {
    width: 800px;
  } */

  .lottie-animation {
    width: 500px;
    height: 500px;
    /* transform: scale(2); */
  }
  
  
  /* Services Section */
  .services {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
  }
  
  .service {
    text-align: center;
  }
  
  .service img {
    width: 120px;
    margin-bottom: 30px;
  }
  
  .service-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
  }
  
  .service-description {
    font-size: 16px;
    color: #777;
  }
  
  /* Testimonial Section */
  .testimonial {
    text-align: center;
    padding: 80px;
    background-color: #f1f1f1;
  }
  
  .testimonial-content img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .testimonial-author {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .testimonial-quote {
    font-size: 16px;
    color: #555;
  }

  .mockup{
    width: 60%;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .nav {
      margin-top: 20px;
      width: 100% ;
      justify-content: space-evenly;
      

    }
    .nav-link {
      font-size: 14px;
      color: #fff;
      text-decoration: none;
      margin-right: auto;
      display: flex; /* Ensures vertical alignment */
      align-items: center; /* Centers links vertically */
    }
  
    .hero {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
      padding: 40px;
    }
  
    /* .hero-image img {
      width: 800px;
    } */
  
    .services {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 40px;
    }
    
    .testimonial {
      padding: 40px;
    }
    .mockup{
      width: 80%;
    }
  }

/* --------------P3-------------- */


h2{
    font-size: 30px;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}
.input-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-basis: 50%;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #ddd;
    margin-right: 10px;
    margin-left: 10px;

}
.input-box label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.input-box textarea {
    height: 300px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #ccc;
    resize: none;
}


.output-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-basis: 50%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #ddd;
  margin-left: 10px;
  height: 480px;
}


.output-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}







#wordsSummed {
  margin-top: 430px;        
}
/* .output-box textarea {
    height: 300px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #ccc;
    resize: none;
} */

.button-container {
  font-family: 'Tajawal', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit-btn {
  background-color: #36c8b4;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 30px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0b5b60;
}

.upload-btn {
  background-color: #36c8b4;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 30px;
  cursor: pointer;
}

.upload-btn:hover {
  background-color: #0a1747;
}


 /* Add the following styles to your existing CSS */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip-text {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the icon */
    left: 50%;
    margin-left: -60px; /* Center the tooltip horizontally */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loader {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-top-color: transparent;
    animation: spinner 0.6s linear infinite;
    
  }
  

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .button-container button {
    background-color: #0f8c7b;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button-container button:hover {
    background-color: #1c665c;
  }
  
  .star-rating {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .star-rating input[type="radio"] {
    display: none;
  }
  
  .star-rating label {
    color: #ccc;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .star-rating label:hover,
  .star-rating input[type="radio"]:checked ~ label {
    color: #f1c40f;
  }
  
/* --------------P4-------------- */
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.about-member {
  text-align: center;
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.about-member:hover {
  transform: translateY(-5px);
}

.member-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px;
}

.member-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.member-name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}

.member-title {
  font-size: 18px;
  color: #555;
  margin-bottom: 15px;
}

.linkedin-icon {
  font-size: 24px;
  color: #0077B5;
  transition: color 0.3s;
}

.linkedin-icon:hover {
  color: #004471;
  cursor: pointer;
}

h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}




.footer {
  background-color: #333;
  color: #fff;
  padding: 30px;
  
  /* position: fixed; */
  bottom: 0;
  left: 0;
}


.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-section {
  flex-basis: 33.33%;
  margin-bottom: 30px;
}

.footer-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-description {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 20px;
}

.footer-contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-contact-list li {
  margin-bottom: 10px;
}

.footer-contact-list li i {
  margin-right: 10px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links li a {
  color: #ccc;
  text-decoration: none;
}

.footer-links li a:hover {
  color: #fff;
}

.newsletter-form {
  display: flex;
  align-items: center;
}

.newsletter-form input[type="email"] {
  height: 30px;
  width: 200px;
  padding: 5px;
  font-size: 14px;
}

.newsletter-form button[type="submit"] {
  background-color: #36c8b4;
  border: none;
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
}

.footer-social-icons {
  display: flex;
  align-items: center;
}

.footer-social-icons a {
  color: #fff;
  margin-right: 10px;
}

.footer-social-icons a:hover {
  color: #36c8b4;
}

/* Testimonials Section */
.testimonials {
  text-align: center;
  background-color: #f9f9f9;
  padding: 50px 20px;
}

.testimonials-title {
  font-size: 30px;
  margin-bottom: 40px;
}

.testimonial-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.testimonial {
  width: 30%;
  margin: 15px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-image {
  width: 200px;
  height: 140px;
  border-radius: 50%;
  margin: 0 auto 20px;
}

.testimonial-text {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.testimonial-author {
  font-size: 18px;
  color: #333;
  font-style: italic;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .testimonial {
    width: 100%;
    margin: 10px 0;
  }
}





/* Call-to-Action Section */
.cta-section {
  background-color: #269185; /* Adjust the color to fit your site's theme */
  color: #fff;
  padding: 50px 20px;
  text-align: center;
}

.cta-content {
  max-width: 600px;
  margin: 0 auto;
  color: white;
}

.cta-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: white;
}

.cta-section p {
  font-size: 18px;
  margin-bottom: 30px;
  color: white;

}

.cta-button {
  display: inline-block;
  background-color: #36c8b4; /* Adjust the button color as needed */
  color: #fff;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #197165;
}

#typing1 {
  display: inline-block;
  vertical-align: middle; /* Adjust as needed */
}
.typed-cursor {
  vertical-align: middle; /* Adjust alignment */
}


#partners {
  background-color: #f5f5f5;
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-align content horizontally */
  text-align: center; /* Center-align text */
}

.partners-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

/* Adjust the size of partner logos */
.partner-item img {
  width: 150px; /* Adjust the size as needed */
  height: auto;
  margin-right: 10px; /* Add margin between logos */
}

/* Create a loop animation */
.partner-list {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;

}

.partner-item {
  display: inline-block;
  margin-right: 20px; /* Add margin between logos */
  animation: moveLeftToRight 10s linear infinite ;
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}










@keyframes slides {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 30px 0px;
  white-space: nowrap;
  position: relative;
}

.logos:before, .logos:after {
  position: absolute;
  top: 0;
  content: '';
  width: 250px;
  height: 100%;
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255,255,255,0), rgb(255, 255, 255));
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255,255,255,0), rgb(255, 255, 255));
}

.logo_items {
  display: inline-block;
  animation: 35s slides infinite linear;
}

.logos:hover .logo_items {
  animation-play-state: paused;
}

.logo_items img{
  height: 100px;
  margin-right: 30px
}